{% extends 'base.html' %} 
{% block title %}Prodcut Details{% endblock title %} 
{% block content %}

<style>
  .content-item {
    padding:30px 0;
	  background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
  background-color: gainsboro;
  transition: all 0.3s;
}

#comments .btn:hover{
  background-color: rgb(188, 186, 186);
  transition: all 0.3s;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100%;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
} 

.img-res img{
  width: 100%;
  height: 100%;
}

.commnent-img{
  padding-right: 18px;
}

.commnent-img img{
  width: 100% !important;
  max-height: 120px;
}
.border-bottom-custom{
  border-bottom-color: #48cae4; 
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
</style>


<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Prodcut Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Prodcut Details</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              {% for photo in photos %}
              <div class="swiper-slide">
                <img src="{{photo.images.url}}" alt="" />
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Information</h3>
            <ul>
              <li><strong>Name</strong>: {{product.product_name}}</li>
              <li><strong>Category</strong>: {{product.category}}</li>
              <li><strong>Date of manufacture</strong>: {{product.date}}</li>
              <li><strong>Price</strong>: {{product.price}} $</li>
              <style>
                .add-to-cart-button {
                  background-color: #48cae4;
                  color: white;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 4px;
                  margin-left: 30px;
                }
              </style>

              <!-- HTML code -->
              <form action="/addToCart" method="GET">
                <label for="quantity">Quantity: </label>
                <input type="hidden" name="product_id" value="{{product.id}}">
                <select id="quantity" name="quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button type="submit" class="add-to-cart-button">
                    Add to cart
                </button>
              </form>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Description</h2>
            <div class="p-3">{{ product.description|linebreaks }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
  <div class="my-4 mx-3 border-bottom-custom">
    <h2>PRODUCT REVIEWS</h2>
  </div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <section class="content-item" id="comments">
    <div class="container">   
      <div class="row justify-content-center">
            <div class="col-sm-8">
              {% if user.is_authenticated %}
              <form id="makeComment">
                {% csrf_token %}
                  <input type="hidden" name="product" value="{{product.id}}">
                  <h3 class="pull-left">New Comment</h3>
                  <button type="submit" class="btn btn-normal pull-right">Submit</button>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs img-res">
                              <img class="img-responsive" src="{{request.user.userprofile.avatar.url}}" alt="User Avatar">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Your message" required name="content"></textarea>
                            </div>
                        </div>  	
                    </fieldset>
                </form>
              {% endif %}
                <h3 id="length-comment">{{comments|length}} Comments</h3>
                <div id="comment-product-container">
                {% if comments|length > 0 %}
                <!-- COMMENT 1 - START -->
                  {% for comment in comments %}
                  <div class="media">
                      <div class="d-flex">
                        <div class="col-sm-3 col-lg-2 hidden-xs commnent-img">
                          <img class="media-object" src="{{comment.user.userprofile.avatar.url}}" alt="">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.user.first_name}}</h4>
                            <p>{{comment.content}}</p>
                            <div>
                              <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>{{comment.date|date:"m/d/Y"}}</li>
                            </ul>
                            </div>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
                </div>
                {% else %}
                <div>
                  No comment of this product
                </div>
                {% endif %}
                <!-- COMMENT 1 - END -->
            </div>
        </div>
    </div>
  </section>
  

</main>
<!-- End #main -->

{% endblock content %}
