{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password{% endblock title %} 
{% block content %}
<div class="cd-signin-modal js-signin-modal">
  <!-- this is the entire modal form, including the background -->
  <div class="cd-signin-modal__container">
    <!-- this is the container wrapper -->
    <ul
      class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger d-flex justify-content-center"
    >
      <li>
        <a href="#0" data-signin="resetpw" data-type="resetpw" class="cd-selected"
          >Reset Password</a
        >
      </li>
    </ul>

    <div
      class="cd-signin-modal__block js-signin-modal-block cd-signin-modal__block--is-selected"
      data-type="login"
    >
      <!-- Reset in form -->
      <form action="{% url 'reset' uidb64 token %}" method="post" class="cd-signin-modal__form" id="signin-form">
        {% csrf_token %}

        <p class="cd-signin-modal__fieldset">
          <label
            class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
            for="signin-password"
            >Password</label
          >
          <input
            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
            id="signin-password"
            type="password"
            name="pass1"
            placeholder="Password"
          />
          <img
            class="cd-signin-modal__hide-password js-hide-password"
            src="{% static '/assets/img/login/eye-enabled.svg' %}"
            alt=""
          />
        </p>

        <p class="cd-signin-modal__fieldset">
            <label
              class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
              for="signin-password"
              >Confirm Password</label
            >
            <input
              class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
              id="signin-password"
              type="password"
              name="pass2"
              placeholder="Confirm Password"
            />
            <img
              class="cd-signin-modal__hide-password js-hide-password"
              src="{% static '/assets/img/login/eye-enabled.svg' %}"
              alt=""
            />
        </p>

        <p class="cd-signin-modal__fieldset">
          <button
          class="cd-signin-modal__input cd-signin-modal__input--full-width loginButton"
          type="submit"
          >
          Reset Password
          </button>
        </p>
      </form>
    </div>
    <!-- cd-signin-modal__block -->

  </div>
  <!-- cd-signin-modal__container -->
</div>

{% endblock content %}
